*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(240, 233, 233);
  display: flex;
  justify-content: center;
  height: 100vmin;
}

#canvas1 {
  width: 1000px;
  height: 700px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
}

.credits-header {
  margin: 0 3rem;
}

.credits {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.details-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.instructions-header {
  margin-bottom: 0;
}
.details-wrapper li {
  list-style: none;
  margin: 0;
}
.details-wrapper ul {
  padding: 0;
  text-align: center;
}

.instructions-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0, 2rem;
}

.start-game {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.hide {
  display: none;
}

.reset-game {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  cursor: pointer;
}

.reset-game:hover {
  font-size: 2.5rem;
}
